.task-grid{
    display: block;
    margin: 0 auto;
    text-align: center;
  
}
.task-container{
    color: var(--font);
    background-color: var(--secondary);
    min-height: 68px;
}
.cards{
    padding: 0 67px 18px 67px;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 18px;
}
.card{
    padding: 28px 0;
    justify-self: center;
    background-color: var(--secondary);
    width: 678px;
    border-bottom: 1px solid var(--border);
}
.card-container{
    margin-top: 52px;
    display: grid;
}
.no-card{
    padding: 28px 0;
    justify-self: center;
    background-color: var(--secondary);
    width: 678px;
    height: 198px;
    font-family: var(--sans);
}
.content-header{
    width: 100%;
    display: inline-flex;   
}
.priority-dot{
    margin: 3px 0 0 2px;
    height: 14px;
    width: 14px;
    border-radius: 50%;
}
.task-tag{
    margin-left: 2px;
    font-family: var(--tags);
    font-size: 13.3px;
    padding: 1px 4px; 
    display: inline;
    background-color: var(--primary);
    border-radius: 10px;
}
.status{
    font-weight: 200;
    float: right;
    font-size: 16px;
  
}
.task-details{
    padding: 0;
    list-style-type: none;
    text-align: left;
}
.category{
    font-size: 13px;
    font-family: var(--tags);
    margin-bottom: 6px;
}
.task-links{
    color: var(--font);
}
.subject{
    font-family: var(--sans);
    font-size: 20.8px;
    font-weight: 700;
    margin-bottom: 10px;
}
.description{
    font-family: var(--sans);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 20px;
}
.date-created{
    margin-left: auto;
    font-family: var(--tags);
    font-size: 13px;
}
.filter{
    color: var(--font);
    margin-top: 47px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.filters{
    position: fixed;
    line-height: 70px;
    height: 70px;
    font-family: var(--sans);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 678px;
    margin: 0 auto;
}
.filters-child{
    width: 100%;
    font-weight: 600;
    transition: ease border 0.2s;
    background-color: var(--secondary);
    user-select: none;
}
#self{
    color: var(--intermediate);
    transition: border .2s ease;
    -webkit-transition: border .2s ease;
    border-bottom: solid 5px var(--intermediate);
}
#self:hover{
    border-bottom: solid 5px var(--secondary);
}
#new{
    color: var(--moderate);
    transition: border .2s ease;
    -webkit-transition: border .2s ease;
    border-bottom: solid 5px var(--moderate);
}
#new:hover{
    border-bottom: solid 5px var(--secondary);
}
#critical{
    color: var(--critical);
    transition: border .2s ease;
    -webkit-transition: border .2s ease;
    border-bottom: solid 5px var(--critical);
}
#critical:hover{
    border-bottom: solid 5px var(--secondary);
}
#date{
    color: var(--dandy);
    transition: border .2s ease;
    -webkit-transition: border .2s ease;
    border-bottom: solid 5px var(--dandy);
}
#date:hover{
    border-bottom: solid 5px var(--secondary);
}
#priority-arrow{
    position: relative;
    font-size: 20px;
    top: 5px;
    transition: all ease 0.3s;
}
#date-arrow{
    position: relative;
    font-size: 20px;
    top: 5px;
    transition: all ease 0.3s;
}
.tdl{
    color: var(--font);
    text-decoration: none;
}
