
.description-pg{
    font-family: var(--sans);
}
.task-comments{
    margin-top: 57px;
    display: flex;
    flex-direction: column;
}
.task-comment{
    padding: 10px;
    background-color: var(--primary);
    min-height: 107px;
    text-align: left;
    font-family: var(--sans);
    font-size: 16px;
}
.task-card{
    padding: 28px 0;
    justify-self: center;
    background-color: var(--secondary);
    width: 678px;
}
.add-comment{
    display: flex;
    width: 678px;
}
.add-comment textarea{
    display: inline-block;
    padding: 0; 
    width: 90%;
    height: 107px;
    font-size: 16px;
    font-family: var(--sans);
    resize: none;
    background-color: var(--secondary);
    color: var(--font);
}
.add-comment textarea:focus{
    outline: none;
}
.add-comment input{
    display: inline-block;
    color: #fff;
    background-color: var(--bayloo);
    border: none;
    width: 10%;
    height: 109px;

}
.comment-img{
    display: inline;
}
.comment-img img{
    width: 33px;
    height: 33px;
    border-radius: 50%;
}
.comment-name{
    margin-left: 6px;
    font-size: 13px;
    display: inline;
    font-family: var(--tags);
    position: relative;
    bottom: 5px;
}
.comment-content{
    padding: 0 40px;
    word-wrap: break-word;
    min-height: 20px;
}
.delete-btn{
    color: var(--font);
    display: block;
    position: relative;
    float: right;
}
.edit-comment{
    display: flex;
}
.edit-comment textarea{
    color: var(--font);
    display: inline-block;
    font-family: var(--sans);
    font-size: 16px;
    width: 528px;
    height: 66px;
    box-sizing: border-box;
    resize: none;
    background-color: var(--secondary);
}
.edit-comment textarea:focus{
    outline: none;
}
.edit-comment input{
    display: inline-block;
    color: #fff;
    background-color: var(--bayloo);
    border: none;
}