.user{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 197px;
    box-sizing: inherit;
    text-align: center;
    color: var(--font);
}
.user-fix{
    width: inherit;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    border-left: 1px solid var(--border);
}
.avi-box{
    margin: 30px auto 0 auto;
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 218px;
    font-family: var(--sans);
    
}
.avi{
    height: 64px;
    width: 64px;
    border-radius: 50%;
}
.user-name{
    font-size: 16.8px;
    font-variant: small-caps;
    font-weight: 600;
}
.company{
    font-size: 14px;
    font-style: italic;
}
.user-controls{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}
.log-out{
    text-align: center;
    padding: 6px 0;
    font-family: var(--sans);
    border-radius: 50px;
    color: #fff;
    width: 75px;
    background-color: var(--bayloo);
    font-size: 16px;
}
.theme-toggle{
    padding: 6px 0;
    width: 197px;
    position: fixed;
    left: 10px;
    bottom: 20px;
    user-select: none;
}
.mode-icon{
    position: relative;
    top: 5.5px;
    font-size: 24px;
    transition: ease all .5s;
    user-select: none;
}